/node_modules/*
!/node_modules/.keep
*/node_modules/@*
/build/*
!/build/.keep
!/build/dql-parse.h
!/build/dql-parse.so
/vendor
/temp
/tmp
/plugins
/platforms
*.log
*.tmp
.reify-cache
secrets
.eslintcache
